//----GENERAL PLACEHOLDERS----
%ellipsis
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  width: auto

%fixed
  position: fixed
  box-sizing: border-box
  top: 0
  right: 0
  left: 0

%position-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

%pseudo
  content: ''
  display: block
  position: absolute

%push-auto
  display: block
  margin-left: auto
  margin-right: auto

%rounded
  border-radius: 100%

//----FONT-SIZE PLACEHOLDERS----
%font-size-xs
  font-size: $font-size-xs
  +breakpoint(mobile)
    font-size: $font-size-xs * 0.9

%font-size-s
  font-size: $font-size-s
  +breakpoint(mobile)
    font-size: $font-size-s * 0.9

%font-size-m
  font-size: $font-size-m
  +breakpoint(mobile)
    font-size: $font-size-m * 0.875

%font-size-l
  font-size: $font-size-l
  +breakpoint(mobile)
    font-size: $font-size-l * 0.8

%font-size-xl
  font-size: $font-size-xl
  +breakpoint(mobile)
    font-size: $font-size-xl * 0.8

%font-size-xxl
  font-size: $font-size-xxl
  +breakpoint(mobile)
    font-size: $font-size-xxl * 0.75

%font-size-xxxl
  font-size: $font-size-xxxl
  +breakpoint(mobile)
    font-size: $font-size-xxxl * 0.7
